form, label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pseudo-adresse-mdp {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.pseudo-adresse-mdp, .confirmer {
  margin: 10px 0;
}

input {
  border-radius: 8px;
}