article {
  display: flex;
  justify-content: space-between;
}

article p {
  align-self: center;
}

p {
  text-align: justify;
}

/* 2 types d'éléments : <article> et <hr> */
/* 4n + 1 => article impair */
/* 4n + 2 => hr impair */
/* 4n + 3 => article pair */
/* 4n + 0 => hr pair */

/* articles impairs */

article:nth-child((4n + 1)) p {
  margin-right: 40px;
}

article:nth-child(4n + 1) img {
  order: 1;
}

/* articles pairs */

article:nth-child(4n + 3) p {
  margin-left: 40px;
}

article:nth-child(4n + 3) img {
  order: 0;
}

.custom-class {
  color: red;
  display: none;
}
img {
  height: 150px;
}
img.big{
height: 500px;
}
p.big {
  font-size: xx-large;
}
div.big {
  font-weight: bold;
}
.big-image {
  height: 500px;
}