html {
  font-family: 'Roboto', sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

caption {
  font-size: x-large;
  font-style: italic;
  margin-bottom: 10px;
}

table, td, th {
  border: solid black 1px;
}

/* th, td {
  border-bottom: solid black 1px;
} */

th {
  height: 50px;
}

td {
  padding: 10px;
}

tr:hover td {
  background-color: #eee;
}
